pkgbase = pub-git
	pkgdesc = ur publisher
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.r10.g4f95a5dbc70eecf9ad785ac6f7e73a05f21518a0
	pkgrel = 1
	url = https://github.com/themartiancompany/pub
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = git
	depends = libcrash-bash
	optdepends = inteppacman: manage android native applications packages
	provides = pub=0.0.0.0.0.0.0.0.0.0.0.0.0.1.r10.g4f95a5dbc70eecf9ad785ac6f7e73a05f21518a0
	conflicts = pub
	source = pub.tar.gz::https://github.com/themartiancompany/pub/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = pub-git
