pkgbase = pub-git
	pkgdesc = ur publisher
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.r14.g64e74bc1ff4eb569acef05453ac3c5c41dc9311c
	pkgrel = 1
	url = https://github.com/themartiancompany/pub
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = git
	depends = libcrash-bash
	optdepends = lur: lur origin support
	optdepends = fur: fur publishing support
	optdepends = inteppacman: manage android native applications packages
	provides = pub=0.0.0.0.0.0.0.0.0.0.0.0.0.1.r14.g64e74bc1ff4eb569acef05453ac3c5c41dc9311c
	conflicts = pub
	source = pub-master.tar.gz::https://github.com/themartiancompany/pub/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = pub-git
